<!-- <div class="float-right">
  <button pButton pRipple type="button" label="Refresh" class="p-button-info" style="height: 80px; width: 80px; border-radius: 50%;"></button><br><br>
  <i class="fa fa-refresh" aria-hidden="true"></i>
</div> -->
<p-table [value]="materials">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Material Name</th>
          <th>Price</th>
          <th style="width:4rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-material>
      <tr>
          <td>{{material?.id}}</td>
          <td>{{material?.name}}</td>
          <td>{{material?.price}}</td>
          <td>
            <button type="button" pButton pRipple icon="fas fa-edit" (click)="openDialog(material.id)" ></button>
        </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog [modal]="true" header="MaterialDetails" [(visible)]="display">
  <form method="post" [formGroup]="materialForm" (ngSubmit)="updateMaterial()">
    <table>
      <tr>
       <td>
        Id :
       </td>
       <td><input formControlName="id" readonly></td>
      </tr>
      <tr>
        <td>
          Material Name :
        </td>
        <td><input formControlName="name"></td>
       </tr>
       <tr>
        <td>
          Price :
        </td>
        <td><input formControlName="price"></td>
       </tr>
       <tr>
         <td>&nbsp;</td>
         <td>
          <button type="submit"  pButton pRipple > Submit</button>
        </td>
       </tr>

    </table>
  </form>

</p-dialog>


