<link href="/assets/client/css/styles.css" rel="stylesheet" />
<style>
  body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#logoImage{
  background-image: url(/assets/client/assets/img/ssq_sprite-80fc66ca8b.png);
    background-position: 0 -82px;
}

.shutterfly-logo {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    background-image: url(/assets/client/assets/img/ssq_sprite-80fc66ca8b.png);
    background-position: 0 -82px;
    width: 141px;
    height: 48px;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
</style>

<div style="border-bottom: 1px solid; margin-bottom: 3px; padding-bottom: 2px; display: flex; ">
  <a href="#" id="logoImage" class="float-left" style="width: 141px; height:47px ">
    <!-- position:absolute; top: 13px; left: 20px; background-color: red" -->
    <!-- <img src="/assets/client/assets/img/PTlife.png" style="height: 50px; width: 174px;" alt="..."
    /> -->
    <i class="shutterfly-logo"></i>
  </a>
  <div class="float-left" style="width: 70px; height: 47px; margin-right:auto; margin-left: 20px; padding-top:10px; border-right: 1px solid; ">
    <span style="font-size: 20px;" >Print</span>
  </div>

  <div style="text-align: right">
    <p-button [disabled]= checkbtnAdd  (onClick)="addToCart()" label="ADD TO CART"></p-button>
  </div>
</div>

<div class="row" style="border-bottom: 1px solid">
  <div class="col-lg-3" >
    <p style="font-size: 18px; line-height:25px !important">Choose image size and quantities</p>
  </div>
  <div class="col-lg-1">
    Choose material :
  </div>
  <div class="col-lg-6">
    <input (click)="materialClick($event)" [(ngModel)]="material" value="glossy" type="radio">Glossy &nbsp;
    <input (click)="materialClick($event)" [(ngModel)]="material" value="matte" type="radio">Matte &nbsp;
    <input (click)="materialClick($event)" [(ngModel)]="material" value="pearl" type="radio">Pearl &nbsp;
  </div>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-2" style="border-right: 1px dashed ; border-bottom: 1px dashed">
      <p><strong>4x4</strong></p>
      <p-inputNumber (ngModelChange)="changeQuantity()" [(ngModel)]="quantity4x4" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [min]="0" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
      <br>
      <br>
    </div>
    <div class="col-lg-2 col-sm-2" style="border-right: 1px dashed ; border-bottom: 1px dashed">
      <p><strong>4x6</strong></p>
      <p-inputNumber [(ngModel)]="quantity4x6" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [min]="0" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
      <br>
      <br>
    </div>
    <div class="col-lg-2 col-sm-2" style="border-right: 1px dashed ; border-bottom: 1px dashed">
      <p><strong>5x7</strong></p>
      <p-inputNumber [(ngModel)]="quantity5x7" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [min]="0" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
      <br>
      <br>
    </div>
    <div class="col-lg-2 col-sm-2" style="border-right: 1px dashed ; border-bottom: 1px dashed">
      <p><strong>8x10</strong></p>
      <p-inputNumber [(ngModel)]="quantity8x10" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [min]="0" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
      <br>
      <br>
    </div>
    <div class="col-lg-2 col-sm-2" style=" border-bottom: 1px dashed">
      <p><strong>8x8</strong></p>
      <p-inputNumber [(ngModel)]="quantity8x8" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [min]="0" [step]="1"
        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
      <br>
      <br>
    </div>
  <div class="col-lg-2 col-sm-2" style=" border-left: 1px solid red; border-bottom: 1px solid red;">
    <div class="row">
      <div class="col-sm-6">Size</div>
      <div class="col-sm-6">Price</div>
    </div>
    <div class="row">
      <div *ngFor="let material of m">
        <div *ngIf="material.name == materialString">
          <div  *ngFor="let size of s">
            {{ size?.name }} &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            {{ size?.price * material?.price }} $
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row fixed-bottom">
  <div class="col-lg-12">
    <p-fileUpload  [showUploadButton]="false" [multiple]="false" [customUpload]="true" (onSelect)="onUpload($event)" (uploadHandler)="onUpload($event)"></p-fileUpload>
  </div>

  <footer class="footer py-4" style="background-image: linear-gradient(to right,#5A5BF3, #91E7D9) !important;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4" style="color:white">
          Copyright &copy; 2022. Design by Return Coding - LP
        </div>
      </div>
    </div>
  </footer>
</div>


